$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "superbox.scss";

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #000;
}

#app {
  padding-top: 124px;
  height: 100%;

  @media screen and (max-width: 768px) { 
    padding-top: 90px;
  }
}

header{
  height: 124px;
  background: url(../images/bg-header.jpg) no-repeat center center;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 9000;

  @media screen and (max-width: 990px) {
    background-size: 100% 100%;
  }

  @media screen and (max-width: 768px) {
    height: 90px;
  }

  .left, .right {
    flex: 1;
    display: flex;
  }

  .right {
    justify-content: flex-end;
  }

  .brand-logo {
    width: 256px;
    height: 116px;
    background: url(../images/logo.png) no-repeat center center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    margin: auto;

    @media screen and (max-width:720px) {
      width: 180px;
      background-size: 180px auto;
    }

    @media screen and (max-width: 768px) { 
      width: 180px;
      background-size: 180px auto;
      height: 90px;
    }
  }

  #btn-action-video,
  #btn-action-photo {
    background: #282828;
    border-radius: 0;
    border-color: #282828;
    color: #FFF;
    margin-right: 25px;
    background: url(../images/btn.png) no-repeat center center;
    width: 162px;
    height: 38px;
    text-indent: -99999px;

    &#btn-action-photo {
      background: url(../images/bgn-photos.png) no-repeat center center;
    }
  }

  #btn-action-ic {
    width: 48px;
    height: 48px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    font-size: 26px;
    color: #FFF;
  }
}

main {
  height: 100%;
  background: url(../images/bg-main.jpg) no-repeat center 124px;
  background-attachment: fixed;
  background-size: 950px 100%;

  &.video-on {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;

    #gallery {
      display: none;
      animation: none;
    }
  }

  @media screen and (max-width: 992px) {
    background-size: 100% 100%;
    background-position: center 90px;
  }

  #gallery {
    margin: 30px auto 60px;
    background: #FFF;
    width: 768px;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    animation: fadeInUp 0.6s ease-in-out;

    @media screen and (max-width: 990px) {
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

.modal-dialog {
  margin-top: 180px !important;
  width: 768px;

  @media screen and (max-width: 768px) {
    width: auto;
    margin-top: 120px !important;
  }
}

.modal-content {
  border-radius: 0;
}

.modal-body {
  iframe {
    width: 100%;
  }
}

.modal-backdrop.fade.in {
  opacity: 0 !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
