/* SuperBox */
.superbox-list {
  display:inline-block;
  *display:inline;
  zoom:1;
  width:25%;
  border: solid 5px #FFF;
  height: 120px;
  overflow: hidden;
  background:#000 url('../images/loading-image.gif') center center no-repeat;
}
.superbox-img {
  max-width:100%;
  width:100%;
  cursor:pointer;
}
.superbox-show {
  text-align:center;
  position:relative;
  background:#333;
  box-shadow:inset 0 1px 5px #111;
  -webkit-box-shadow:inset 0 1px 5px #111;
  -moz-box-shadow:inset 0 1px 5px #111;
  width:100%;
    float:left;
  padding:25px;
  display:none;
}
.superbox-current-img {
  //max-width:100%;
  box-shadow:0 1px 4px #222;
  border:1px solid #222;
  width:100%;
  height: 100%;
}

.superbox-list:hover {
  background-image: none;
}

.superbox-img:hover {
  opacity:0.8;
}
.superbox-float {
  float:left;
}
.superbox-close {
  opacity:1;
  cursor:pointer;
  position:absolute;
  top:25px;
  right:25px;
  background:url(../images/close.gif) no-repeat center center;
  width:35px;
  height:35px;
  background-color: #333;
}

.actions {
  position: absolute;
  bottom: 30px;
  right: 45px;
  height: 34px;

  span {
    width: 33px;
    height: 33px;
    display: inline-block;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
  }

  .btn-fb {
    background: url(../images/btn-fb.png) no-repeat center center;
  }

  .btn-tw {
    background: url(../images/btn-tw.png) no-repeat center center;
  }

  .btn-go {
    background: url(../images/btn-g.png) no-repeat center center;
  }
}

.superbox-close:hover {
  opacity:1;
}
@media only screen and (min-width: 320px) {
  .superbox-list {
    width:50%;
  }
}
@media only screen and (min-width: 486px) {
  .superbox-list {
    width:25%;
  }
}
@media only screen and (min-width: 768px) {
  .superbox-list {
    width:25%;
  }
}
@media only screen and (min-width: 1025px) {
  .superbox-list {
    width:25%;
  }
}